form label {
    display: block;
}

form input {
    width: 100%;
    margin-bottom: 10px;
}

form textarea {
    width: 100%;
    height: 4.75rem;
    margin-bottom: 10px;
}

form button {
    background-color: white;
    border-radius: 5px;
}